components/app-configs/n8n/base/workflow.json
{
  "name": "Alert Manager - Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ocp",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        96
      ],
      "id": "6df89205-2e19-4752-a34c-d02f41ba9cae",
      "name": "Webhook",
      "webhookId": "9e1f15a6-9be5-4519-bc21-0fe8485b7fa1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "65e25002-87e8-4259-986a-dd2832a5a93a",
              "leftValue": "={{ $json.executionMode }}",
              "rightValue": "production",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        96
      ],
      "id": "99fe8757-7d30-48f3-8883-2b5850fe7535",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ae35dc1b-f5bc-48f0-8360-91cfae1ab36b",
      "name": "True"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "id": "9f4a9e10-0ca0-47a4-9bdd-390361b66be4",
      "name": "False"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.admin.svc.cluster.local:5678",
            "user-agent": "Alertmanager/0.28.1",
            "content-length": "1912",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "receiver": "Watchdog",
            "status": "firing",
            "alerts": [
              {
                "status": "firing",
                "labels": {
                  "alertname": "Watchdog",
                  "namespace": "openshift-monitoring",
                  "openshift_io_alert_source": "platform",
                  "prometheus": "openshift-monitoring/k8s",
                  "severity": "none"
                },
                "annotations": {
                  "description": "This is an alert meant to ensure that the entire alerting pipeline is functional.\nThis alert is always firing, therefore it should always be firing in Alertmanager\nand always fire against a receiver. There are integrations with various notification\nmechanisms that send a notification when this alert is not firing. For example the\n\"DeadMansSnitch\" integration in PagerDuty.\n",
                  "summary": "An alert that should always be firing to certify that Alertmanager is working properly."
                },
                "startsAt": "2025-09-18T18:33:22.087Z",
                "endsAt": "0001-01-01T00:00:00Z",
                "generatorURL": "https://console-openshift-console.apps.ocp.kow.lab/monitoring/graph?g0.expr=vector%281%29&g0.tab=1",
                "fingerprint": "6934731368443c07"
              }
            ],
            "groupLabels": {
              "namespace": "openshift-monitoring"
            },
            "commonLabels": {
              "alertname": "Watchdog",
              "namespace": "openshift-monitoring",
              "openshift_io_alert_source": "platform",
              "prometheus": "openshift-monitoring/k8s",
              "severity": "none"
            },
            "commonAnnotations": {
              "description": "This is an alert meant to ensure that the entire alerting pipeline is functional.\nThis alert is always firing, therefore it should always be firing in Alertmanager\nand always fire against a receiver. There are integrations with various notification\nmechanisms that send a notification when this alert is not firing. For example the\n\"DeadMansSnitch\" integration in PagerDuty.\n",
              "summary": "An alert that should always be firing to certify that Alertmanager is working properly."
            },
            "externalURL": "https://console-openshift-console.apps.ocp.kow.lab/monitoring",
            "version": "4",
            "groupKey": "{}/{alertname=\"Watchdog\"}:{namespace=\"openshift-monitoring\"}",
            "truncatedAlerts": 0
          },
          "webhookUrl": "http://n8n.admin.svc.cluster.local:5678/webhook/ocp",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "True",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "False",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a2bebd18-e13f-4071-8948-a8dfae49bf73",
  "meta": {
    "instanceId": "6d56e352b95482ac4df7d9f0ea54b0b5d787b769dcef370ce630f3f854b45efe"
  },
  "id": "MHGimgiWFl7JHaNV",
  "tags": []
}
